booleanOperations==0.9.0
compreffor==0.5.0
cu2qu==1.6.7
defcon==0.6.0
fontmake==2.1.3
fontMath==0.6.0
fonttools==4.10.0
glyphsLib==5.1.10
MutatorMath==3.0.1
pyclipper==1.1.0.post3
ufo2ft==2.13.0
ufoLib2==0.7.1
unicodedata2==13.0.0.post2
