<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>uni0627.fina.alt</key>
	<string>uni0627.fina.alt.glif</string>
	<key>uniFEF7</key>
	<string>uniF_E_F_7.glif</string>
	<key>uniFEF8</key>
	<string>uniF_E_F_8.glif</string>
</dict>
</plist>
