<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<real>611.0</real>
	<key>copyright</key>
	<string>Copyright 2015-2018 Khaled Hosny. Copyright 2014 Idris Samawi Hamid (Arabic-Latin Modern Fixed Regular). Derived from Copyright 2003, 2009 B. Jackowski and J. M. Nowacki (Latin Modern Mono Regular 10). Derived from Copyright Donald Knuth 1990 (Computer Modern Mono 10).</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>NoName Fixed</string>
	<key>guidelines</key>
	<array/>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2014/08/26 13:08:41</string>
	<key>openTypeHheaAscender</key>
	<integer>900</integer>
	<key>openTypeHheaDescender</key>
	<integer>-500</integer>
	<key>openTypeHheaLineGap</key>
	<integer>139</integer>
	<key>openTypeNameDesigner</key>
	<string>Idris Samawi Hamid</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://walayah.org/project/typography</string>
	<key>openTypeNameLicense</key>
	<string>Arabic-Latin Modern Fixed is licensed under the GUST Font License with one important adjustment: It is requested, AS WELL AS LEGALLY REQUIRED, that derived works be distributed only after changing the names of the fonts comprising this work.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://www.gust.org.pl/projects/e-foundry/licenses/GUST-FONT-LICENSE.txt/view</string>
	<key>openTypeNameManufacturer</key>
	<string>Khaled Hosny</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/khaledhosny/noname-fixed</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>900</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-500</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>139</integer>
	<key>openTypeOS2VendorID</key>
	<string>UKWN</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>975</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>565</integer>
	<key>postscriptBlueFuzz</key>
	<real>0.0</real>
	<key>postscriptBlueScale</key>
	<real>0.04546</real>
	<key>postscriptBlueValues</key>
	<array>
		<real>-11.0</real>
		<real>0.0</real>
		<real>431.0</real>
		<real>442.0</real>
		<real>611.0</real>
		<real>622.0</real>
		<real>626.0</real>
		<real>637.0</real>
	</array>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<real>61.0</real>
		<real>38.0</real>
		<real>54.0</real>
		<real>60.0</real>
		<real>62.0</real>
		<real>63.0</real>
		<real>64.0</real>
		<real>65.0</real>
		<real>70.0</real>
		<real>90.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>69.0</real>
		<real>35.0</real>
		<real>56.0</real>
		<real>58.0</real>
		<real>62.0</real>
		<real>70.0</real>
		<real>89.0</real>
		<real>90.0</real>
		<real>100.0</real>
		<real>154.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<real>-99.0</real>
	<key>postscriptUnderlineThickness</key>
	<real>69.0</real>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<real>431.0</real>
</dict>
</plist>
