(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Dlinebelow,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Ereversed,
Etilde,
F,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdieresis,
Hdotbelow,
I,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lslash,
M,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oogonek,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhookabove,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dlinebelow,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
ereversed,
etilde,
eturned,
schwa,
f,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hbrevebelow,
hcircumflex,
hdieresis,
hdotbelow,
i,
dotlessi,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
itilde,
j,
jdotless,
jcaron,
jcircumflex,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lslash,
m,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
longs,
t,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tlinebelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhookabove,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Gheupturn-cy",
"Gedescender-cy",
"Ghestroke-cy",
"Ghemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Iishorttail-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Iu-cy",
"Ia-cy",
"Dje-cy",
"Omega-cy",
"Yat-cy",
"Eiotified-cy",
"Yuslittle-cy",
"Yuslittleiotified-cy",
"Yusbig-cy",
"Yusbigiotified-cy",
"Ksi-cy",
"Psi-cy",
"Fita-cy",
"Izhitsa-cy",
"Izhitsadblgrave-cy",
"Uk-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"Enghe-cy",
"Pemiddlehook-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Hahook-cy",
"Hastroke-cy",
"Elhook-cy",
uni047A,
uni047C,
uni047E,
"Koppa-cy",
"Semisoftsign-cy",
"Ertick-cy",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"gheupturn-cy",
"gedescender-cy",
"ghestroke-cy",
"ghemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"iishorttail-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"iu-cy",
"ia-cy",
"dje-cy",
"omega-cy",
"yat-cy",
"eiotified-cy",
"yuslittle-cy",
"yuslittleiotified-cy",
"yusbig-cy",
"yusbigiotified-cy",
"ksi-cy",
"psi-cy",
"fita-cy",
"izhitsa-cy",
"izhitsadblgrave-cy",
"uk-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"endescender-cy",
"enghe-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"hahook-cy",
"hastroke-cy",
"elhook-cy",
uni047B,
uni047D,
uni047F,
"koppa-cy",
"semisoftsign-cy",
"ertick-cy",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KoppaArchaic,
Stigma,
Digamma,
Sampi,
Alphapsili,
Alphadasia,
Alphapsilivaria,
Alphadasiavaria,
Alphapsilioxia,
Alphadasiaoxia,
Alphapsiliperispomeni,
Alphadasiaperispomeni,
Alphavaria,
Alphaoxia,
Alphavrachy,
Alphamacron,
Alphaprosgegrammeni,
Alphapsiliprosgegrammeni,
Alphadasiaprosgegrammeni,
Alphapsilivariaprosgegrammeni,
Alphadasiavariaprosgegrammeni,
Alphapsilioxiaprosgegrammeni,
Alphadasiaoxiaprosgegrammeni,
Alphapsiliperispomeniprosgegrammeni,
Alphadasiaperispomeniprosgegrammeni,
Epsilonpsili,
Epsilondasia,
Epsilonpsilivaria,
Epsilondasiavaria,
Epsilonpsilioxia,
Epsilondasiaoxia,
Epsilonvaria,
Epsilonoxia,
Etapsili,
Etadasia,
Etapsilivaria,
Etadasiavaria,
Etapsilioxia,
Etadasiaoxia,
Etapsiliperispomeni,
Etadasiaperispomeni,
Etavaria,
Etaoxia,
Etaprosgegrammeni,
Etapsiliprosgegrammeni,
Etadasiaprosgegrammeni,
Etapsilivariaprosgegrammeni,
Etadasiavariaprosgegrammeni,
Etapsilioxiaprosgegrammeni,
Etadasiaoxiaprosgegrammeni,
Etapsiliperispomeniprosgegrammeni,
Etadasiaperispomeniprosgegrammeni,
Iotapsili,
Iotadasia,
Iotapsilivaria,
Iotadasiavaria,
Iotapsilioxia,
Iotadasiaoxia,
Iotapsiliperispomeni,
Iotadasiaperispomeni,
Iotavaria,
Iotaoxia,
Iotavrachy,
Iotamacron,
Omicronpsili,
Omicrondasia,
Omicronpsilivaria,
Omicrondasiavaria,
Omicronpsilioxia,
Omicrondasiaoxia,
Omicronvaria,
Omicronoxia,
Rhodasia,
Upsilondasia,
Upsilondasiavaria,
Upsilondasiaoxia,
Upsilondasiaperispomeni,
Upsilonvaria,
Upsilonoxia,
Upsilonvrachy,
Upsilonmacron,
Omegapsili,
Omegadasia,
Omegapsilivaria,
Omegadasiavaria,
Omegapsilioxia,
Omegadasiaoxia,
Omegapsiliperispomeni,
Omegadasiaperispomeni,
Omegavaria,
Omegaoxia,
Omegaprosgegrammeni,
Omegapsiliprosgegrammeni,
Omegadasiaprosgegrammeni,
Omegapsilivariaprosgegrammeni,
Omegadasiavariaprosgegrammeni,
Omegapsilioxiaprosgegrammeni,
Omegadasiaoxiaprosgegrammeni,
Omegapsiliperispomeniprosgegrammeni,
Omegadasiaperispomeniprosgegrammeni,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
koppaArchaic,
digamma,
koppa,
sampi,
alphapsili,
alphadasia,
alphapsilivaria,
alphadasiavaria,
alphapsilioxia,
alphadasiaoxia,
alphapsiliperispomeni,
alphadasiaperispomeni,
alphavaria,
alphaoxia,
alphaperispomeni,
alphavrachy,
alphamacron,
alphaypogegrammeni,
alphavariaypogegrammeni,
alphaoxiaypogegrammeni,
alphapsiliypogegrammeni,
alphadasiaypogegrammeni,
alphapsilivariaypogegrammeni,
alphadasiavariaypogegrammeni,
alphapsilioxiaypogegrammeni,
alphadasiaoxiaypogegrammeni,
alphapsiliperispomeniypogegrammeni,
alphadasiaperispomeniypogegrammeni,
alphaperispomeniypogegrammeni,
epsilonpsili,
epsilondasia,
epsilonpsilivaria,
epsilondasiavaria,
epsilonpsilioxia,
epsilondasiaoxia,
epsilonvaria,
epsilonoxia,
etapsili,
etadasia,
etapsilivaria,
etadasiavaria,
etapsilioxia,
etadasiaoxia,
etapsiliperispomeni,
etadasiaperispomeni,
etavaria,
etaoxia,
etaperispomeni,
etaypogegrammeni,
etavariaypogegrammeni,
etaoxiaypogegrammeni,
etapsiliypogegrammeni,
etadasiaypogegrammeni,
etapsilivariaypogegrammeni,
etadasiavariaypogegrammeni,
etapsilioxiaypogegrammeni,
etadasiaoxiaypogegrammeni,
etapsiliperispomeniypogegrammeni,
etadasiaperispomeniypogegrammeni,
etaperispomeniypogegrammeni,
iotapsili,
iotadasia,
iotapsilivaria,
iotadasiavaria,
iotapsilioxia,
iotadasiaoxia,
iotapsiliperispomeni,
iotadasiaperispomeni,
iotavaria,
iotaoxia,
iotaperispomeni,
iotavrachy,
iotamacron,
iotadialytikavaria,
iotadialytikaoxia,
iotadialytikaperispomeni,
omicronpsili,
omicrondasia,
omicronpsilivaria,
omicrondasiavaria,
omicronpsilioxia,
omicrondasiaoxia,
omicronvaria,
omicronoxia,
rhopsili,
rhodasia,
upsilonpsili,
upsilondasia,
upsilonpsilivaria,
upsilondasiavaria,
upsilonpsilioxia,
upsilondasiaoxia,
upsilonpsiliperispomeni,
upsilondasiaperispomeni,
upsilonvaria,
upsilonoxia,
upsilonperispomeni,
upsilonvrachy,
upsilonmacron,
upsilondialytikavaria,
upsilondialytikaoxia,
upsilondialytikaperispomeni,
omegapsili,
omegadasia,
omegapsilivaria,
omegadasiavaria,
omegapsilioxia,
omegadasiaoxia,
omegapsiliperispomeni,
omegadasiaperispomeni,
omegavaria,
omegaoxia,
omegaperispomeni,
omegaypogegrammeni,
omegavariaypogegrammeni,
omegaoxiaypogegrammeni,
omegapsiliypogegrammeni,
omegadasiaypogegrammeni,
omegapsilivariaypogegrammeni,
omegadasiavariaypogegrammeni,
omegapsilioxiaypogegrammeni,
omegadasiaoxiaypogegrammeni,
omegapsiliperispomeniypogegrammeni,
omegadasiaperispomeniypogegrammeni,
omegaperispomeniypogegrammeni,
prosgegrammeni,
ypogegrammeni,
"hamza-ar",
"highhamza-ar",
"highhamza-ar.narrow",
"alef-ar",
"alef-ar.shorter",
"alef-ar.fina",
"alef-ar.fina.alt",
"alef-ar.fina.shorter",
"alef-ar.short",
"alef-ar.fina.short",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzaabove-ar.fina.alt",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefHamzabelow-ar.fina.alt",
"alefWavyhamzaabove-ar",
"alefWavyhamzaabove-ar.fina",
"alefWavyhamzaabove-ar.fina.alt",
"alefWavyhamzabelow-ar",
"alefWavyhamzabelow-ar.fina",
"alefWavyhamzabelow-ar.fina.alt",
"alefMadda-ar",
"alefMadda-ar.fina",
"alefMadda-ar.fina.alt",
"alefWasla-ar",
"alefWasla-ar.fina",
"alefWasla-ar.fina.alt",
"highhamzaAlef-ar",
"behDotless-ar",
"behDotless-ar.hah",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"beh-ar",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"peh-ar",
"peh-ar.fina",
"peh-ar.medi",
"peh-ar.init",
"pehVabove-ar",
"pehVabove-ar.fina",
"pehVabove-ar.medi",
"pehVabove-ar.init",
"beeh-ar",
"beeh-ar.fina",
"beeh-ar.medi",
"beeh-ar.init",
"beheh-ar",
"beheh-ar.fina",
"beheh-ar.medi",
"beheh-ar.init",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"teh-ar",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"tehRing-ar",
"tehRing-ar.fina",
"tehRing-ar.medi",
"tehRing-ar.init",
"tehThreedotsdown-ar",
"tehThreedotsdown-ar.fina",
"tehThreedotsdown-ar.medi",
"tehThreedotsdown-ar.init",
"theh-ar",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"tteh-ar",
"tteh-ar.fina",
"tteh-ar.medi",
"tteh-ar.init",
"tteheh-ar",
"tteheh-ar.fina",
"tteheh-ar.medi",
"tteheh-ar.init",
"teheh-ar",
"teheh-ar.fina",
"teheh-ar.medi",
"teheh-ar.init",
"behThreedotshorizontalbelow-ar",
"behThreedotshorizontalbelow-ar.fina",
"behThreedotshorizontalbelow-ar.medi",
"behThreedotshorizontalbelow-ar.init",
"behThreedotsupabove-ar",
"behThreedotsupabove-ar.fina",
"behThreedotsupabove-ar.medi",
"behThreedotsupabove-ar.init",
"behThreedotsupbelow-ar",
"behThreedotsupbelow-ar.fina",
"behThreedotsupbelow-ar.medi",
"behThreedotsupbelow-ar.init",
"tehThreedotsupbelow-ar",
"tehThreedotsupbelow-ar.fina",
"tehThreedotsupbelow-ar.medi",
"tehThreedotsupbelow-ar.init",
"behTwodotsbelowDotabove-ar",
"behTwodotsbelowDotabove-ar.fina",
"behTwodotsbelowDotabove-ar.medi",
"behTwodotsbelowDotabove-ar.init",
"behVinvertedbelow-ar",
"behVinvertedbelow-ar.fina",
"behVinvertedbelow-ar.medi",
"behVinvertedbelow-ar.init",
"behVabove-ar",
"behVabove-ar.fina",
"behVabove-ar.medi",
"behVabove-ar.init",
"behVbelow-ar",
"ttehVabove-ar",
"ttehVabove-ar.fina",
"behVbelow-ar.fina",
"ttehVabove-ar.medi",
"behVbelow-ar.medi",
"ttehVabove-ar.init",
"behVbelow-ar.init",
"behhamzaabove-ar",
"behhamzaabove-ar.fina",
"behhamzaabove-ar.medi",
"behhamzaabove-ar.init",
"jeemThreedotsabove-ar",
"jeemThreedotsabove-ar.fina",
"jeemThreedotsabove-ar.medi",
"jeemThreedotsabove-ar.init",
"jeemThreedotsbelow-ar",
"jeemThreedotsbelow-ar.fina",
"jeemThreedotsbelow-ar.medi",
"jeemThreedotsbelow-ar.init",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"tchehVabove-ar",
"tchehVabove-ar.fina",
"tchehVabove-ar.medi",
"tchehVabove-ar.init",
"tcheheh-ar",
"tcheheh-ar.fina",
"tcheheh-ar.medi",
"tcheheh-ar.init",
"tchehDotabove-ar",
"tchehDotabove-ar.fina",
"tchehDotabove-ar.medi",
"tchehDotabove-ar.init",
"nyeh-ar",
"nyeh-ar.fina",
"nyeh-ar.medi",
"nyeh-ar.init",
"dyeh-ar",
"dyeh-ar.fina",
"dyeh-ar.medi",
"dyeh-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"hahHamzaabove-ar",
"hahHamzaabove-ar.fina",
"hahHamzaabove-ar.medi",
"hahHamzaabove-ar.init",
"hahTwodotsverticalabove-ar",
"hahTwodotsverticalabove-ar.fina",
"hahTwodotsverticalabove-ar.medi",
"hahTwodotsverticalabove-ar.init",
"hahTwodotshorizontalabove-ar",
"hahTwodotshorizontalabove-ar.fina",
"hahTwodotshorizontalabove-ar.medi",
"hahTwodotshorizontalabove-ar.init",
"hahThreedotsabove-ar",
"hahThreedotsabove-ar.fina",
"hahThreedotsabove-ar.medi",
"hahThreedotsabove-ar.init",
"hahThreedotsupbelow-ar",
"hahThreedotsupbelow-ar.fina",
"hahThreedotsupbelow-ar.medi",
"hahThreedotsupbelow-ar.init",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"hahTahbelow-ar",
"hahTahbelow-ar.fina",
"hahTahbelow-ar.medi",
"hahTahbelow-ar.init",
"hahTahTwodotshorizontalbelow-ar",
"hahFourbelow-ar",
"hahFourbelow-ar.fina",
"hahFourbelow-ar.medi",
"hahFourbelow-ar.init",
"jeemTwodotsabove-ar",
"jeemTwodotsabove-ar.fina",
"jeemTwodotsabove-ar.medi",
"jeemTwodotsabove-ar.init",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"ddal-ar",
"ddal-ar.fina",
"dahal-ar",
"dahal-ar.fina",
"ddahal-ar",
"ddahal-ar.fina",
"dalRing-ar",
"dalRing-ar.fina",
"dalDotbelow-ar",
"dalDotbelow-ar.fina",
"dalDotbelowTah-ar",
"dalDotbelowTah-ar.fina",
"dul-ar",
"dul-ar.fina",
"dalThreedotsdown-ar",
"dalThreedotsdown-ar.fina",
"dalFourdots-ar",
"dalFourdots-ar.fina",
"dalVinvertedabove-ar",
"dalVinvertedabove-ar.fina",
"dalTwodotsverticalbelowTah-ar",
"dalTwodotsverticalbelowTah-ar.fina",
"dalVinvertedbelow-ar",
"dalVinvertedbelow-ar.fina",
"dalThreedotsbelow-ar",
"dalThreedotsbelow-ar.fina",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"zainVinvertedabove-ar",
"zainVinvertedabove-ar.fina",
"ainThreedotsbelow-ar",
"ainThreedotsbelow-ar.fina",
"ainThreedotsbelow-ar.medi",
"ainThreedotsbelow-ar.init",
"kafDotbelow-ar",
"kafDotbelow-ar.fina",
"kafDotbelow-ar.medi",
"kafDotbelow-ar.init",
"rreh-ar",
"rreh-ar.fina",
"rehv-ar",
"rehv-ar.fina",
"rehRing-ar",
"rehRing-ar.fina",
"rehDotbelow-ar",
"rehDotbelow-ar.fina",
"rehVbelow-ar",
"rehVbelow-ar.fina",
"rehDotbelowdotabove-ar",
"rehDotbelowdotabove-ar.fina",
"rehTwodots-ar",
"rehTwodots-ar.fina",
"jeh-ar",
"jeh-ar.fina",
"rehFourdots-ar",
"rehFourdots-ar.fina",
"rehVinvertedabove-ar",
"rehVinvertedabove-ar.fina",
"rehStroke-ar",
"rehStroke-ar.fina",
"rehTwodotsverticalabove-ar",
"rehTwodotsverticalabove-ar.fina",
"rehHamzaabove-ar",
"rehHamzaabove-ar.fina",
"rehTwodotshorizontalaboveTahabove-ar",
"rehTwodotshorizontalaboveTahabove-ar.fina",
"rehLoop-ar",
"rehLoop-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"seenDotbelowDotabove-ar",
"seenDotbelowDotabove-ar.fina",
"seenDotbelowDotabove-ar.medi",
"seenDotbelowDotabove-ar.init",
"seenThreedotsbelow-ar",
"seenThreedotsbelow-ar.fina",
"seenThreedotsbelow-ar.medi",
"seenThreedotsbelow-ar.init",
"sheen-ar",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sheenDotbelow-ar",
"sheenDotbelow-ar.fina",
"sheenDotbelow-ar.medi",
"sheenDotbelow-ar.init",
"sheenThreedotsbelow-ar",
"sheenThreedotsbelow-ar.fina",
"sheenThreedotsbelow-ar.medi",
"sheenThreedotsbelow-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"sadTwodotsbelow-ar",
"sadTwodotsbelow-ar.fina",
"sadTwodotsbelow-ar.medi",
"sadTwodotsbelow-ar.init",
"sadThreedots-ar",
"sadThreedots-ar.fina",
"sadThreedots-ar.medi",
"sadThreedots-ar.init",
"sadThreedotsbelow-ar",
"sadThreedotsbelow-ar.fina",
"sadThreedotsbelow-ar.medi",
"sadThreedotsbelow-ar.init",
"dad-ar",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"dadDotbelow-ar",
"dadDotbelow-ar.fina",
"dadDotbelow-ar.medi",
"dadDotbelow-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"tahThreedots-ar",
"tahThreedots-ar.fina",
"tahThreedots-ar.medi",
"tahThreedots-ar.init",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"tahTwodotsabove-ar",
"tahTwodotsabove-ar.fina",
"tahTwodotsabove-ar.medi",
"tahTwodotsabove-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ainThreedots-ar",
"ainThreedots-ar.fina",
"ainThreedots-ar.medi",
"ainThreedots-ar.init",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"ghainDotbelow-ar",
"ghainDotbelow-ar.fina",
"ghainDotbelow-ar.medi",
"ghainDotbelow-ar.init",
"ghainThreedotsabove-ar",
"ghainThreedotsabove-ar.fina",
"ghainThreedotsabove-ar.medi",
"ghainThreedotsabove-ar.init",
"feh-ar",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"fehDotmovedbelow-ar",
"fehDotmovedbelow-ar.fina",
"fehDotmovedbelow-ar.medi",
"fehDotmovedbelow-ar.init",
"fehDotbelow-ar",
"fehDotbelow-ar.fina",
"fehDotbelow-ar.medi",
"fehDotbelow-ar.init",
"fehThreedotsbelow-ar",
"fehThreedotsbelow-ar.fina",
"fehThreedotsbelow-ar.medi",
"fehThreedotsbelow-ar.init",
"fehDotbelowThreedotsabove-ar",
"fehDotbelowThreedotsabove-ar.fina",
"fehDotbelowThreedotsabove-ar.medi",
"fehDotbelowThreedotsabove-ar.init",
"peheh-ar",
"peheh-ar.fina",
"peheh-ar.medi",
"peheh-ar.init",
"fehAfrican-ar",
"fehAfrican-ar.fina",
"fehAfrican-ar.medi",
"fehAfrican-ar.init",
"qafDotless-ar",
"qafDotless-ar.medi",
"qafDotless-ar.init",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"qafDotabove-ar",
"qafDotabove-ar.fina",
"qafDotabove-ar.medi",
"qafDotabove-ar.init",
"qafThreedotsabove-ar",
"qafThreedotsabove-ar.fina",
"qafThreedotsabove-ar.medi",
"qafThreedotsabove-ar.init",
"qafDotbelow-ar",
"qafDotbelow-ar.fina",
"qafDotbelow-ar.medi",
"qafDotbelow-ar.init",
"qafAfrican-ar",
"qafAfrican-ar.fina",
"qafAfrican-ar.medi",
"qafAfrican-ar.init",
"qafThreedotsaboveAfrican-ar",
"qafThreedotsaboveAfrican-ar.fina",
"qafThreedotsaboveAfrican-ar.medi",
"qafThreedotsaboveAfrican-ar.init",
"kafDotless-ar",
"kafDotless-ar.fina",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"kehehTwodotshorizontalabove-ar",
"kehehTwodotshorizontalabove-ar.fina",
"kehehTwodotshorizontalabove-ar.medi",
"kehehTwodotshorizontalabove-ar.init",
"kehehThreedotsbelow-ar",
"kehehThreedotsbelow-ar.fina",
"kehehThreedotsbelow-ar.medi",
"kehehThreedotsbelow-ar.init",
"kehehDotabove-ar",
"kehehDotabove-ar.fina",
"kehehDotabove-ar.medi",
"kehehDotabove-ar.init",
"kehehThreedotsabove-ar",
"kehehThreedotsabove-ar.fina",
"kehehThreedotsabove-ar.medi",
"kehehThreedotsabove-ar.init",
"kehehThreedotsupbelow-ar",
"kehehThreedotsupbelow-ar.fina",
"kehehThreedotsupbelow-ar.medi",
"kehehThreedotsupbelow-ar.init",
"kehehVabove-ar",
"kehehVabove-ar.fina",
"kehehVabove-ar.medi",
"kehehVabove-ar.init",
"gaf-ar",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"gafRing-ar",
"gafRing-ar.fina",
"gafRing-ar.medi",
"gafRing-ar.init",
"gafThreedots-ar",
"gafThreedots-ar.fina",
"gafThreedots-ar.medi",
"gafThreedots-ar.init",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"kafRing-ar",
"kafRing-ar.fina",
"kafRing-ar.medi",
"kafRing-ar.init",
"kafDotabove-ar",
"kafDotabove-ar.fina",
"kafDotabove-ar.medi",
"kafDotabove-ar.init",
"kafTwodotshorizontalabove-ar",
"kafTwodotshorizontalabove-ar.fina",
"kafTwodotshorizontalabove-ar.medi",
"kafTwodotshorizontalabove-ar.init",
"kafThreedotsbelow-ar",
"kafThreedotsbelow-ar.fina",
"kafThreedotsbelow-ar.medi",
"kafThreedotsbelow-ar.init",
"gafTwodotsbelow-ar",
"gafTwodotsbelow-ar.fina",
"gafTwodotsbelow-ar.medi",
"gafTwodotsbelow-ar.init",
"gafInvertedstroke-ar",
"gafInvertedstroke-ar.fina",
"gafInvertedstroke-ar.medi",
"gafInvertedstroke-ar.init",
"ng-ar",
"ng-ar.fina",
"ng-ar.medi",
"ng-ar.init",
"ngoeh-ar",
"ngoeh-ar.fina",
"ngoeh-ar.medi",
"ngoeh-ar.init",
"gueh-ar",
"gueh-ar.fina",
"gueh-ar.medi",
"gueh-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.short",
"lam-ar.init",
"lamVabove-ar",
"lamVabove-ar.init",
"lamVabove-ar.medi",
"lamVabove-ar.fina",
"lamDotabove-ar",
"lamDotabove-ar.fina",
"lamDotabove-ar.medi",
"lamDotabove-ar.init",
"lamThreedotsabove-ar",
"lamThreedotsabove-ar.fina",
"lamThreedotsabove-ar.medi",
"lamThreedotsabove-ar.init",
"lamThreedotsbelow-ar",
"lamThreedotsbelow-ar.fina",
"lamThreedotsbelow-ar.medi",
"lamThreedotsbelow-ar.init",
"lamDoublebar-ar",
"lamDoublebar-ar.fina",
"lamDoublebar-ar.medi",
"lamDoublebar-ar.init",
"lamTahabove-ar",
"lamTahabove-ar.fina",
"lamTahabove-ar.medi",
"lamTahabove-ar.init",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"meemThreedotsabove-ar",
"meemThreedotsabove-ar.fina",
"meemThreedotsabove-ar.medi",
"meemThreedotsabove-ar.init",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noonDotbelow-ar",
"noonDotbelow-ar.fina",
"noonDotbelow-ar.medi",
"noonDotbelow-ar.init",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.fina",
"rnoon-ar",
"rnoon-ar.fina",
"rnoon-ar.medi",
"rnoon-ar.init",
"noonRing-ar",
"noonRing-ar.fina",
"noonRing-ar.medi",
"noonRing-ar.init",
"noonThreedotsabove-ar",
"noonThreedotsabove-ar.fina",
"noonThreedotsabove-ar.medi",
"noonThreedotsabove-ar.init",
"noonAfrican-ar",
"noonAfrican-ar.fina",
"noonAfrican-ar.medi",
"noonAfrican-ar.init",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.fina",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehgoalHamzaabove-ar",
"hehgoalHamzaabove-ar.fina",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"hehDoachashmee-ar.init.comp",
"hehVinvertedabove-ar",
"hehVinvertedabove-ar.fina",
"hehVinvertedabove-ar.medi",
"hehVinvertedabove-ar.init",
"tehMarbuta-ar",
"tehMarbuta-ar.alt",
"tehMarbuta-ar.fina",
"tehMarbutagoal-ar",
"tehMarbutagoal-ar.fina",
"tehVabove-ar",
"tehVabove-ar.fina",
"tehVabove-ar.medi",
"tehVabove-ar.init",
"waw-ar",
"waw-ar.fina",
"wawring-ar",
"wawring-ar.fina",
"wawTwodots-ar",
"wawTwodots-ar.fina",
"wawDotabove-ar",
"wawDotabove-ar.fina",
"wawHamzaabove-ar",
"wawHamzaabove-ar.fina",
"wawTwoabove-ar",
"wawTwoabove-ar.fina",
"wawThreeAbove-ar",
"wawThreeAbove-ar.fina",
"wawDotcenter-ar",
"wawDotcenter-ar.fina",
"wawStraight-ar",
"wawStraight-ar.fina",
"kirghizoe-ar",
"kirghizoe-ar.fina",
"oe-ar",
"oe-ar.fina",
"u-ar",
"u-ar.fina",
"yu-ar",
"yu-ar.fina",
"kirghizyu-ar",
"kirghizyu-ar.fina",
"ve-ar",
"ve-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"aleflow-ar",
"alefTwoabove-ar",
"alefTwoabove-ar.fina",
"alefTwoabove-ar.fina.alt",
"alefThreeabove-ar",
"alefThreeabove-ar.fina",
"alefThreeabove-ar.fina.alt",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.medi",
"yeh-ar.init",
"yehHamzaabove-ar",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yehVabove-ar",
"yehVabove-ar.fina",
"yehVabove-ar.medi",
"yehVabove-ar.init",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowHamzaabove-ar.fina",
"yehTwodotsbelowHamzaabove-ar.medi",
"yehTwodotsbelowHamzaabove-ar.init",
"yehTwodotsbelowDotabove-ar",
"yehTwodotsbelowDotabove-ar.fina",
"yehTwodotsbelowDotabove-ar.medi",
"yehTwodotsbelowDotabove-ar.init",
"yehFarsi-ar",
"yehFarsi-ar.fina",
"yehFarsi-ar.medi",
"yehFarsi-ar.init",
"yehFarsiVinverted-ar",
"yehFarsiVinverted-ar.fina",
"yehFarsiVinverted-ar.medi",
"yehFarsiVinverted-ar.init",
"yehFarsiTwodotsabove-ar",
"yehFarsiTwodotsabove-ar.fina",
"yehFarsiTwodotsabove-ar.medi",
"yehFarsiTwodotsabove-ar.init",
"yehFarsiThreedotsabove-ar",
"yehFarsiThreedotsabove-ar.fina",
"yehFarsiThreedotsabove-ar.medi",
"yehFarsiThreedotsabove-ar.init",
"yehFarsiTwoabove-ar",
"yehFarsiTwoabove-ar.fina",
"yehFarsiTwoabove-ar.medi",
"yehFarsiTwoabove-ar.init",
"yehFarsiThreeabove-ar",
"yehFarsiThreeabove-ar.fina",
"yehFarsiThreeabove-ar.medi",
"yehFarsiThreeabove-ar.init",
"yehFarsiFourbelow-ar",
"yehFarsiFourbelow-ar.fina",
"yehFarsiFourbelow-ar.medi",
"yehFarsiFourbelow-ar.init",
"yehTail-ar",
"yehTail-ar.fina",
"yehKashmiri-ar",
"yehKashmiri-ar.fina",
"yehKashmiri-ar.medi",
"yehKashmiri-ar.init",
"e-ar",
"e-ar.fina",
"e-ar.medi",
"e-ar.init",
"yehThreedotsbelow-ar",
"yehThreedotsbelow-ar.fina",
"yehThreedotsbelow-ar.medi",
"yehThreedotsbelow-ar.init",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.fina",
"yehbarreeTwoabove-ar",
"yehbarreeTwoabove-ar.fina",
"yehbarreeThreeabove-ar",
"yehbarreeThreeabove-ar.fina",
"yehRohingya-ar",
"yehRohingya-ar.fina",
"yehRohingya-ar.comp",
"highhamzaWaw-ar",
"uHamzaabove-ar",
"highhamzaYeh-ar",
"highhamzaYeh-ar.init",
"ae-ar",
"ae-ar.fina",
"seenFourdotsabove-ar",
"seenFourdotsabove-ar.fina",
"seenFourdotsabove-ar.medi",
"seenFourdotsabove-ar.init",
"ainTwodotshorizontalabove-ar",
"ainTwodotshorizontalabove-ar.fina",
"ainTwodotshorizontalabove-ar.medi",
"ainTwodotshorizontalabove-ar.init",
"ainThreedotsdownabove-ar",
"ainThreedotsdownabove-ar.fina",
"ainThreedotsdownabove-ar.medi",
"ainThreedotsdownabove-ar.init",
"ainTwodotsverticalabove-ar",
"ainTwodotsverticalabove-ar.fina",
"ainTwodotsverticalabove-ar.medi",
"ainTwodotsverticalabove-ar.init",
"fehTwodotsbelow-ar",
"fehTwodotsbelow-ar.fina",
"fehTwodotsbelow-ar.medi",
"fehTwodotsbelow-ar.init",
"fehThreedotsupbelow-ar",
"fehThreedotsupbelow-ar.fina",
"fehThreedotsupbelow-ar.medi",
"fehThreedotsupbelow-ar.init",
"meemDotabove-ar",
"meemDotabove-ar.fina",
"meemDotabove-ar.medi",
"meemDotabove-ar.init",
"meemDotbelow-ar",
"meemDotbelow-ar.fina",
"meemDotbelow-ar.medi",
"meemDotbelow-ar.init",
"noonTwodotsbelow-ar",
"noonTwodotsbelow-ar.fina",
"noonTwodotsbelow-ar.medi",
"noonTwodotsbelow-ar.init",
"noonTahabove-ar",
"noonTahabove-ar.fina",
"noonTahabove-ar.medi",
"noonTahabove-ar.init",
"noonVabove-ar",
"noonVabove-ar.fina",
"noonVabove-ar.medi",
"noonVabove-ar.init",
"lamBar-ar",
"lamBar-ar.fina",
"lamBar-ar.medi",
"lamBar-ar.init",
"seenTwodotsverticalabove-ar",
"seenTwodotsverticalabove-ar.fina",
"seenTwodotsverticalabove-ar.medi",
"seenTwodotsverticalabove-ar.init",
"seenTahTwodotshorizontalabove-ar",
"seenTahTwodotshorizontalabove-ar.fina",
"seenTahTwodotshorizontalabove-ar.medi",
"seenTahTwodotshorizontalabove-ar.init",
"hahTahabove-ar",
"hahTahabove-ar.fina",
"hahTahabove-ar.medi",
"hahTahabove-ar.init",
"seenFourabove-ar",
"seenFourabove-ar.fina",
"seenFourabove-ar.medi",
"seenFourabove-ar.init",
"seenVinvertedabove-ar",
"seenVinvertedabove-ar.fina",
"seenVinvertedabove-ar.medi",
"seenVinvertedabove-ar.init",
"fathatan-ar.medi",
"kashidaFina-ar",
"kasra-ar.medi",
"kashida-ar",
"fatha-ar.medi",
"damma-ar.medi",
"shadda-ar.medi",
"sukun-ar.medi",
"behMeemabove-ar",
"behMeemabove-ar.fina",
"behMeemabove-ar.medi",
"behMeemabove-ar.init",
"hahTahTwodotshorizontalbelow-ar.fina",
"hahTahTwodotshorizontalbelow-ar.init",
"hahTahTwodotshorizontalbelow-ar.medi",
"pehMeemabove-ar",
"pehMeemabove-ar.fina",
"pehMeemabove-ar.medi",
"pehMeemabove-ar.init",
"rehNoonabove-ar",
"rehNoonabove-ar.fina",
"tehTehabove-ar",
"tehTehabove-ar.fina",
"tehTehabove-ar.medi",
"tehTehabove-ar.init",
"yehTwodotsbelowNoonabove-ar",
"yehTwodotsbelowNoonabove-ar.fina",
"yehTwodotsbelowNoonabove-ar.medi",
"yehTwodotsbelowNoonabove-ar.init",
"wawSmall-ar",
"yehSmall-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"beh_meem-ar.init",
"teh_jeem-ar.init",
"teh_hah-ar.init",
"lam_jeem-ar.init",
"lam_hah-ar.init",
"lam_khah-ar.init",
"lam_meem-ar.init",
"lam_meem_hah-ar.init",
"yeh_noon-ar.fina",
"allah-ar",
"mohammad-ar",
"allahlong-ar",
"jallajalalouhou-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"four-persian",
"five-persian",
"six-persian",
"seven-persian",
"four-persian.urdu",
"seven-persian.urdu",
"decimalseparator-ar",
"thousandseparator-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
fraction,
onehalf,
onequarter,
threequarters,
one.superior,
two.superior,
three.superior,
space,
nbspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
narrownbspace,
.notdef,
VS1,
VS10,
VS11,
VS12,
VS13,
VS14,
VS15,
VS16,
VS2,
VS3,
VS4,
VS5,
VS6,
VS7,
VS8,
VS9,
graphemejoinercomb,
firststrongisolate,
functionapplication,
invisibleplus,
invisibleseparator,
invisibletimes,
lefttorightembedding,
lefttorightisolate,
lefttorightmark,
lefttorightoverride,
popdirectionalformatting,
popdirectionalisolate,
righttoleftembedding,
righttoleftisolate,
righttoleftmark,
righttoleftoverride,
anoteleia,
questiongreek,
"parenleft-ar",
"parenright-ar",
"tahbelowSymbol-ar",
"dotaboveSymbol-ar",
"dotbelowSymbol-ar",
"twodotsverticalaboveSymbol-ar",
"twodotsverticalbelowSymbol-ar",
"twodotshorizontalaboveSymbol-ar",
"twodotshorizontalbelowSymbol-ar",
"threedots-ar",
"threedotsdownaboveSymbol-ar",
"threedotsdownbelowSymbol-ar",
"threedotsupaboveSymbol-ar",
"threedotsupbelowSymbol-ar",
"fourdotsaboveSymbol-ar",
"fourdotsbelowSymbol-ar",
"doubleverticalbarbelowSymbol-ar",
"ringSymbol-ar",
"hizb-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"endofayah-ar",
"disputedendofayah-ar",
dblbracketleft,
dblbracketright,
hyphen,
softhyphen,
endash,
emdash,
hyphentwo,
nonbreakinghyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
angleleft,
angleright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
charactertie,
dblverticalbar,
gnaborretni,
interrobang,
invertedundertie,
numbersign,
quillbracketleft,
quillbracketright,
referencemark,
slash,
backslash,
undertie,
period.arabic,
colon.arabic,
exclam.arabic,
florin,
"thousand-cy",
"numeral-greek",
"lowernumeral-greek",
"mark-ar",
"numbermark-ar",
"samvat-ar",
"bismillah-ar",
"ray-ar",
"afghani-ar",
rial,
"percent-ar",
"cuberoot-ar",
"fourthroot-ar",
"perthousand-ar",
"pertenthousand-ar",
"sajdah-ar",
"sindhipostpositionmen-ar",
"note-musical",
baht,
cent,
colonsign,
currency,
dollar,
dong,
euro,
guarani,
lira,
naira,
peso,
sterling,
won,
yen,
Ohminverted,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
Ohm,
radical,
micro,
percent,
perthousand,
sphericalangle,
asterisk.math,
radical.rtlm,
percent.arabic.comp,
upArrow,
rightArrow,
downArrow,
leftArrow,
dottedCircle,
whiteBullet,
marriageSymbol,
divorceSymbol,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
diameterSign,
bar,
brokenbar,
dagger,
daggerdbl,
estimated,
numero,
blank,
blankSymbol,
centigrade,
prescription,
"titlocomb-cy",
"palatalizationcomb-cy",
"dasiapneumatacomb-cy",
"psilipneumatacomb-cy",
"hundredthousandssigncomb-cy",
"millionssigncomb-cy",
tonos,
dieresistonos,
psili,
koronis,
dasia,
psilivaria,
dasiavaria,
psilioxia,
dasiaoxia,
psiliperispomeni,
dasiaperispomeni,
dialytikavaria,
dialytikaoxia,
dialytikaperispomeni,
varia,
oxia,
perispomeni,
"annisfabove-ar",
"dammaturnedbelow-ar",
"rehHahabove-ar",
"rehDadabove-ar",
"sadabove-ar",
"ainabove-ar",
"takhallusabove-ar",
"tahabove-ar",
"alefLamYehabove-ar",
"zainabove-ar",
"fathasmall-ar",
"dammasmall-ar",
"kasrasmall-ar",
"threedotshorizontalbelow-ar",
"stroke-ar",
"fourabove-ar",
"fourbelow-ar",
"threeabove-ar",
"twoabove-ar",
"wasla-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"wavyhamzabelow-ar",
"doublestroke-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"fathaHorizont-ar",
"vabove-ar",
"vinvertedabove-ar",
"dotvowelbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"meemabove-ar",
"meemStopabove-ar",
"lamAlefabove-ar",
"jeemabove-ar",
"threedotsabove-ar",
"seenabove-ar",
"sukunround-ar",
"sukunoval-ar",
"hahabove-ar",
"seenbelow-ar",
"maddalong-ar",
"yehabove-ar",
"noonabove-ar",
"rhombusStopbelow-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"meembelow-ar",
"fathaCurly-ar",
"dammaCurly-ar",
"kasraCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"kasratanCurly-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"toneloopabove-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"toneloopbelow-ar",
"openfathatan-ar",
"opendammatan-ar",
"openkasratan-ar",
"highwaw-ar",
"fathaRing-ar",
"fathaDotabove-ar",
"kasraDotbelow-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"dammaDot-ar",
"arrubabove-ar",
"assajdaabove-ar",
"aththalathaabove-ar",
"footnotemarkerabove-ar",
"largerounddotbelow-ar",
"marksidewaysnoonghunna-ar",
"noonKasraabove-ar",
"noonKasrabelow-ar",
"qafabove-ar",
"qifabove-ar",
"safhaabove-ar",
"sahabove-ar",
"saktaabove-ar",
"smallainabove-ar",
"smallsadabove-ar",
"waqfaabove-ar",
"wawbelow-ar",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
dotbelowcomb,
commaaccentcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
ringhalfleft,
ringhalfright,
uniFBC0,
circumflexcomb_gravecomb.cap,
circumflexcomb_acutecomb.cap,
circumflexcomb_tildecomb.cap,
circumflexcomb_hookabovecomb.cap,
dieresis.cap,
circumflex.cap,
caron.cap,
bigcircle,
perthousandzero,
"rehabove-ar",
charbox.comp,
ittisal.comp,
tail.comp,
Threedotsinverted.alt.comp
)